<%- include('../partials/header') %>
    <h1>Details</h1>
    <section id="show-page">
            <div>Airline: </div>
            <div><%= flight.airline %></div>
            <div>Flight Number: </div>
            <div><%= flight.flightNo %></div>
            <div>Depart Time: </div>
            <div><%= flight.departs %></div>
            <div>Airport: </div>
            <div><%= flight.airport %></div>
    </section>
    <br><br>
    <h2>Add Arrival Information</h2>
    <form id="add-arrival" method="POST" action="/flights/<%= flight._id %>/details">
    <label>Arrival Time:</label>
    <input type="datetime-local" name="departs" value="2019-08-14T13:30">
    <label>Airport:</label>
    <select name="airport">
        <option value="SEA">SEA</option>
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
    </select>
    <input type="submit" value="Add Arrival Information">
    </form>
<%- include('../partials/footer') %>